/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: rgb(45, 145, 233);
  text-align: center;
  margin-bottom: 16px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.custom-chip {
  background-color: #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 4px;
}

.input-container {
  position: relative;
  width: 500px; /* Set the width of the input container */
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow chips to wrap to the next line */
  border-bottom: 2px solid rgb(45, 145, 233);
}


.custom-chip-remove {
  margin-left: 4px;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
}

.input-chips-container {
  position: relative;
  z-index: 2;
}

.custom-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 0;
  flex-grow: 1;
  min-width: 0;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestion {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #eee;
}
